* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*css fadeIn Up*/
/*=================================================*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated {
    animation-duration: 3s;
    /* animation-fill-mode: both; */
    -webkit-animation-duration: 3s;
    /* -webkit-animation-fill-mode: both */
}

.js-fadein {
    opacity:1;
}

.scroll-in {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
#oneday a {
    text-decoration: none;
    color: white;
}
#oneday .info-item:hover  img{ 
    opacity: 0.6;
}
#oneday   .banner-main {

    height: 430px;
    background: #ffffff;
}

#oneday  .header {
  justify-content: space-between;

  padding: 40px;
}
#oneday .header .logo img {
    vertical-align: bottom;  
}
#oneday .header .logo .text-logo {
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

#oneday  .img-width {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;  
}
#oneday  .img-slider {
    width: 100%;
}
#oneday .mobi {
    display: none;
}





#oneday  .title-main  {
    max-width: 1020px;
    margin: auto;
    padding: 90px 20px 0px;
}
#oneday  .title-main .note {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    color: #000000;
}



/* people */
#oneday .people .info-p {
    background: #ff0000;
    color: white;
    padding: 30px 0px;
}
#oneday .people .info-p .left , #oneday .people .info-p .right {
    width: 50%;
}
#oneday .people .info-p .left {
    padding-left: 110px;
    color: black;
    font-weight: 600;
    position: relative;
}
#oneday .people .info-p .left::before {
  content: '';
  position: absolute;
  background-image: url(../images/oneday_number_01_pc.png);
  width: 80px;
  height: 64px;
  top: 10px;
  left: 0px;
}
#oneday .people:nth-child(2) .info-p .left::before {
    content: '';
    position: absolute;
    background-image: url(../images/oneday_number_02_pc.png);
    width: 83px;
    height: 64px;
    top: 10px;
    left: 0px;
  }




#oneday .people .info-p .text-r {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}
#oneday .people:nth-child(2) .info-p .text-r {
    letter-spacing: 1.5px;
}

#oneday .people .info-p .left .text-01 {
    font-size: 30px;
}
#oneday .people .info-p .left .text-02 {
    font-size: 16px;
}

#oneday  .width-max {
    max-width: 1020px;
    margin: auto;
    padding: 0px 20px;
}

#oneday .people .main-heading .info {
    position: relative;
}
#oneday .people .main-heading .info-img {
    padding-left: 200px;
}
#oneday .people .main-heading .info-text {
    position: absolute;
    top:30%;
    padding: 4% 4% 4% 5%;
    background: #004fa2;
    color: white;
    min-width: 545px;
}
#oneday .people .main-heading .info-text .year, #oneday .people .main-heading .info-text .info-work {
    text-align: left;
    font-size: 20px;
    line-height: 36px;
    font-family: 'Yu Gothic Regular';
    opacity: 0.7;  
}

#oneday .people .main-heading .info-text .info-work {
    margin-bottom: 15px;
}

#oneday .people .main-heading .info-text .name {
    text-align: left;
    font-size: 30px;
    line-height: 45px;
    font-family: 'Yu Gothic Bold', sans-serif;
    font-weight: 600;
}

#oneday .people .main-heading .info-text .name-es {
    margin-left: 30px;
    font-size: 20px;
}

/* people time-work */ 

#oneday .people .time-work {
    padding-bottom: 100px;
}

#oneday .people .time-work .time-work-title {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 50px;
    font-weight: 600;
    color: #004fa2;
    text-align: center;
}
#oneday .people .time-work  .time-content {
    height: 1870px;
    padding-top: 75px;
    margin-bottom: 195px;
} 
#oneday .people:nth-child(2) .time-work .time-content {

    margin-bottom: 150px;
}

#oneday .people .time-work .time-content .time-item {
    position: relative;
    float: left;
    width: 50%;
    padding-top: 50px;
}
#oneday .people .time-work .time-content .time-item .time-main {
    position: absolute;
    top: -5%;
    font-size: 32px;
    font-style: italic;
    padding: 5px 0px;
    z-index: 99;
    color: white;
    background:#ff0000;
}

#oneday .people .time-work .time-content .time-item:nth-child(3) .time-main {
    background: #ff2100;
}

#oneday .people .time-work .time-content .time-item:nth-child(4) .time-main {
    background: #ff2e00;
}
#oneday .people .time-work .time-content .time-item:nth-child(5) .time-main {
    background: #ff4000;
}
#oneday .people .time-work .time-content .time-item:nth-child(6) .time-main {
    background: #ff4c00;
}
#oneday .people .time-work .time-content .time-item:nth-child(7) .time-main {
    background: #ff5a00;
}
#oneday .people .time-work .time-content .time-item:nth-child(8) .time-main {
    background: #ff7000;
}
#oneday .people .time-work .time-content .time-item:nth-child(9) .time-main {
    background: #ff8500;
}



#oneday .people .time-work .time-content .time-item:nth-child(2n+1) .time-main {
    right: -35px;
}
#oneday .people .time-work .time-content .time-item:nth-child(2n) .time-main {
    left: -45px;
}
#oneday .people .time-work .time-content .time-item:nth-child(2) .time-main {
    left: -35px;
}
#oneday .people .time-work .time-content .time-item:nth-child(1) .time-main {
    right: -30px;
}


#oneday .people .time-work .time-content .time-item .box-work {
    display: flex;
    flex-wrap: wrap;
}

#oneday .people .time-work .time-content .time-item .box-work .time-text {
    padding:  0px;
    width: calc( 100% - 60px);
}

#oneday .people .time-work .time-content .time-item .box-work .time-heading {
    font-size: 24px;
    line-height: 30px;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: 25px;
    border-bottom: 2px solid #3c3c3c;
    padding-left: 10px;
    position: relative;
    padding-bottom: 3px;
}
#oneday .people .time-work .time-content .time-item .box-work .time-heading::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #3c3c3c;
    position: absolute;
    z-index: 100;
}
#oneday .people .time-work .time-content .time-item:nth-child(2n+1) .box-work .time-heading::after {
    right: -43px;
    bottom: 15px;
    transform: rotate(135deg);
}
#oneday .people .time-work .time-content .time-item:nth-child(2n) .box-work .time-heading::after {
    left: -42px;
    bottom: 16px;
    transform: rotate(45deg);
}

#oneday .people .time-work .time-content .time-item .box-work .time {
    width: 60px;
}

#oneday .people .time-work .time-content .time-item .pic-item {
    width: calc( 100% - 60px);
    margin-top: 20px;
}  

#oneday .people .time-work .time-content .time-item .box-work .text {
    font-size: 15px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 25px;
}

#oneday .people .time-work .time-content .time-item:nth-child(2) {
    margin-top: 90px;
}

#oneday .people .time-work .time-content .time-item:nth-child(3) {
    margin-top: -90px;
}

#oneday .people .time-work .time-content .time-item:nth-child(4) {
    margin-top: 55px;
}

#oneday .people .time-work .time-content .time-item:nth-child(5) {
    margin-top: -15px;
}

#oneday .people .time-work .time-content .time-item:nth-child(6) {
    margin-top: 130px;
}
#oneday .people .time-work .time-content .time-item:nth-child(7) {
    margin-top: -50px;
}
#oneday .people .time-work .time-content .time-item:nth-child(8) {
    margin-top: 200px;
    margin-bottom: 150px;
}
#oneday .people .time-work .time-content .time-item:nth-child(9) {
    margin-top: -95px;
    margin-bottom: 200px;
}


#oneday .people .time-work .time-content .time-item:nth-child(even) .time {
    order: 1;
}
#oneday .people .time-work .time-content .time-item:nth-child(even) .time-text {
    order: 2;
}

#oneday .people .time-work .time-content .time-item:nth-child(2) .pic-item {
    padding-left: 60px;
    width: 100%;
}

#oneday .people .width-max.time {
    position: relative;
}



#oneday .people .width-max.time::after {
    content: "";
    position: absolute;
    width: 3px;
    height: calc(100% - 110px);
    background: linear-gradient(180deg, rgba(255,105,102,1) 1%, rgba(255,168,64) 95%, rgba(244,244,244,1) 100%);
    top: 110px;
    left: 50%;
    transform: translateX(-50%);

}
#oneday .people .width-max.time::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(255,0,0,1) 1%, rgba(255,144,0,1) 95%, rgba(244,244,244,1) 100%);
}

#oneday .people .time-work .time-content .time-item .time .time-number{
  display: block;
}


#oneday .people .time-work .time-content .time-item:nth-child(even) .time::after{
    right: 0px;
    left: calc(-21px / 2);
}

#oneday .people .time-work .time-content .time-item:nth-child(1) .time .time-number{
    margin-top: 65%;
}
#oneday .people .time-work .time-content .time-item:nth-child(1) .time::after{
    top:43%;
}
 
#oneday .people .time-work .time-content .time-item:nth-child(2) .time .time-number{
    margin-top: 65%;
}
#oneday .people .time-work .time-content .time-item:nth-child(2) .time::after{
    top:58%;
}
  
#oneday .people .time-work .time-content .time-item:nth-child(3) .time .time-number{
    margin-top: 54%;
}
#oneday .people .time-work .time-content .time-item:nth-child(3) .time::after{
    top: 30%;
}
  
  
#oneday .people .time-work .time-content .time-item:nth-child(4) .time .time-number{
    margin-top: 55%;
}
#oneday .people .time-work .time-content .time-item:nth-child(4) .time::after{
    top:35%;
}
  
  
#oneday .people .time-work .time-content .time-item:nth-child(5) .time .time-number{
    margin-top: 50%;
}
#oneday .people .time-work .time-content .time-item:nth-child(5) .time::after{
    top:32%;
}
  
#oneday .people .time-work .time-content .time-item:nth-child(6) .time .time-number{
    margin-top: 65%;
}
#oneday .people .time-work .time-content .time-item:nth-child(6) .time::after{
    top:45%;
}
  
#oneday .people .time-work .time-content .time-item:nth-child(7) .time .time-number{
    margin-top: 35%;
}
#oneday .people .time-work .time-content .time-item:nth-child(7) .time::after{
    top:45%;
}

 
/* message */ 


#oneday .people .time-work .message {
    position: relative;
}

#oneday .people .time-work .message .messge-text {
    max-width: 56%;
    font-size: 15px;
    line-height: 36px;
    padding: 40px;
    background: white;
    top:20px;
    left: 0%;
    position: absolute;
    letter-spacing: -2px;
    color: #000000;
    min-height: 385px;
    z-index: 10;
} 
#oneday .people .time-work .message .messge-text .title-m {
    font-size: 18px;
    color: white;
    font-weight: 600;
    background: #ff0000;
    padding: 2px 40px;
    display: inline-block;
    margin-bottom: 35px;
}

#oneday .people .time-work .message .messge-img {
    max-width: 47%;
    right: 0%;
    position: absolute;
} 


#oneday .people:nth-child(2) .time-work .time-content {
    height: 1470px;
 
}


#oneday .people:nth-child(2) {
    margin-top: 455px;
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(2) {
    margin-top: 180px;
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(3) {
    margin-top: -95px;
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(4) {
    margin-top: 210px;
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(5) {
    margin-top: -15px;
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(6) {
    margin-top: 150px;
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(3) .time-main {
    background:#ff3a00
}

#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(4) .time-main {
    background: #ff6000;
}
#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(5) .time-main {
    background: #ff7100;
}
#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(6) .time-main {
    background: #ff8000;
}
#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(1) .time-main {
    right: -40px; 
} 
#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(2) .time-main {
    left: -40px;
}
#js-goTop {
    display: inline-block;
    margin-left: -10%;
    margin-top: 9%;
    position: absolute;
    
}
 #oneday .scroll-in {
    opacity: 1;
    margin-top: 0px;
} 

#oneday .content-footer {
    position: relative;
}
 .js-fadein {
    margin-top: 300px;
    opacity: 0;
    transition: 2s;
}
#oneday .footer-white{
    background: white;
    height: 20px;
}






@media screen and (max-width: 920px)  {
    #oneday .people .info-p .left .text-01 {
        font-size: 20px;
    }
    #oneday .people .info-p .text-r {
        font-size: 10px;
        line-height: 17px;
    }
    #oneday .people .time-work .message .messge-text .title-m {
        margin-bottom: 15px;
    }
    #oneday .people .time-work .message .messge-text {
        font-size: 12px;
        line-height: 29px;
        padding: 20px;
        top: 15px;
        left: 0%;
        min-height: 285px;
    }
    #oneday .people .time-work .time-content .time-item .box-work .text {
        font-size: 12px;
    }
    #oneday .people:nth-child(2) {
        margin-top: 300px;
    }

} 




@media screen and (max-width: 767px) {
    #oneday .destop {
        display: none
    } 
    #oneday .people .time-work-content {
        padding-left: 0%;
        padding-right: 0%;
    }

    #oneday .mobi {
        display: block;
    } 

    /* info */

    #oneday .header {
        justify-content: space-between;
        padding: 20px;
    }
    #oneday .header .logo .text-logo {
        font-size: 12px;
        margin-left: 5px;
    }
    #oneday .header .logo  {
        width: 80%;
    }
    #oneday .header .menu  {
        width: 20%;
    }
    #oneday .header .logo img {
        width: 60%;
    }
    #oneday .title-main {
        padding: 35px 15px 0px;
    }
    #oneday .title-main img{
        width: 35%;
    }
    #oneday .title-main .note {
        font-size: 35px;
        line-height: 35px;

    }
    #oneday .banner-main {
         height: auto; 
         padding-bottom: 30px;
       
    }
    #oneday .people .info-p {

        padding: 15px;
    }
    #oneday .width-max {
        padding: 0px ;
    }
    #oneday .people .info-p .left::before,#oneday .people:nth-child(2) .info-p .left::before {
        top: -8px;
        left: -20px;
        transform: scale(0.5);
    }
    #oneday .people .info-p .left {
        padding-left: 65px;
        margin-bottom: 20px;
    }
    #oneday .people .info-p .left .text-01 {
        font-size: 20px;
    }
    #oneday .people .info-p .left .text-02 {
        font-size: 12px;
    }
    #oneday .people .info-p .text-r {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
    }

    #oneday .people .time-work .time-content {
         height: auto;
        padding-top: 0px;
        margin-bottom: 0px;
    }
    #oneday .people .time-work .time-content .time-item {
       
        float: none
    }

    #oneday .people .time-work .time-content .time-item .box-work .time-heading {
        font-size: 20px;
        border-bottom: none;
        padding-left: 0px;
        padding-bottom: 5px;
        margin-bottom:0px
    }
    #oneday .people .time-work .time-content .time-item .box-work .time-heading::after,#oneday .people .width-max.time::before  {
        display: none;
    }

    #oneday .people .time-work .time-content .time-item ,
    #oneday .people .time-work .time-content .time-item .box-work .time-text ,
    #oneday .people .time-work .time-content .time-item .box-work .time,
    #oneday .people .info-p .left, #oneday .people .info-p .right 
    {
    
        width: 100%;
    }
    #oneday .people .time-work .time-content .time-item .box-work .time{
    
    text-align: left;
    }


    #oneday .people .time-work .time-content .time-item .time::after{
        display: none;
    }

    #oneday .people .time-work .time-content .time-item:nth-child(odd) .time{
        order: 1;
    }

    #oneday .people .time-work .time-content .time-item:nth-child(odd) .time-text{
        order: 2;
    }
    #oneday .people .time-work .time-content .time-item .box-work .time-text {
        padding: 0px 15px 15px;
    }
    #oneday .people .main-heading .info-text .year,#oneday .people .main-heading .info-text .info-work {
        font-size: 24px;
    }



    #oneday .people:nth-child(2) .main-heading .info-text .year, #oneday .people .main-heading .info-text .info-work {
        margin-bottom: 0px;
    }

    #oneday .people:nth-child(2) .main-heading .info-img {
        padding-right: 0;
    }
    #oneday .people .time-work {
        padding: 15px 15px 60px 15px;
    }
    #oneday .people .time-work .time-work-title {
        font-size: 40px;
        margin-bottom: 80px;
    }
    #oneday .people:nth-child(2) .time-work .time-work-title {
        
        margin-bottom: 20px;
    }


    #oneday .people .time-work .time-content .time-item .box-work .time-heading {
        font-size: 20px;
    }
    #oneday .people .time-work .time-content .time-item .box-work .text {
        font-size: 12px;
        line-height: 15px;
        padding: 0px;
    }
    #oneday .people .time-work .time-content .time-item {
        margin-bottom: 30px;
        z-index: 99;
        background: white;
        padding-top: 35px;

    }
    #oneday .people .time-work .time-content .time-item .pic-item {
        width: 100%;
        margin-top: 0px;
    }
    #oneday .people .time-work .time-content .time-item:nth-child(2) .pic-item {
        padding-left: 0px;
       
    }

    #oneday .people .time-work .time-content .time-item:nth-child(3), 
    #oneday .people .time-work .time-content .time-item:nth-child(2), 
    #oneday .people .time-work .time-content .time-item:nth-child(4), 
    #oneday .people .time-work .time-content .time-item:nth-child(5), 
    #oneday .people .time-work .time-content .time-item:nth-child(6), 
    #oneday .people .time-work .time-content .time-item:nth-child(7), 
    #oneday .people .time-work .time-content .time-item:nth-child(8), 
    #oneday .people .time-work .time-content .time-item:nth-child(9),
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(3) ,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(4) ,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(5) ,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(2), 
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(6) 
    
    {
         margin-top: 0px; 
    }

    #oneday .people .time-work .time-content .time-item:nth-child(8),#oneday .people .time-work .time-content .time-item:nth-child(9) {
        margin-bottom: 30px; 
    }

    #oneday .people .time-work .time-content .time-item .time-main
    {
        font-size: 20px;
        right: 0px;
        left: 0px;
        background: transparent;
        color: #ff0000;
        top: 0px;
        padding-left: 15px;
        padding-bottom: 0px;
        line-height: 45px;
        font-weight: 600;
    }
    #oneday .people .time-work .time-content .time-item:nth-child(1) .time-main,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(1) .time-main {
        right: 0px; 
    }
    #oneday .people .time-work .time-content .time-item:nth-child(2n+1) .time-main {
         right: 0px; 
    }
    #oneday .people .time-work .time-content .time-item:nth-child(2) .time-main,#oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(2) .time-main {
        left: 0px; 
    }
    #oneday .people .time-work .time-content .time-item:nth-child(2n) .time-main {
         left: 0px; 
    }
    #oneday .people .time-work .time-content .time-item:nth-child(3) .time-main,
    #oneday .people .time-work .time-content .time-item:nth-child(4) .time-main,
    #oneday .people .time-work .time-content .time-item:nth-child(5) .time-main,
    #oneday .people .time-work .time-content .time-item:nth-child(6) .time-main,
    #oneday .people .time-work .time-content .time-item:nth-child(7) .time-main,
    #oneday .people .time-work .time-content .time-item:nth-child(8) .time-main,
    #oneday .people .time-work .time-content .time-item:nth-child(9) .time-main,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(3) .time-main,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(4) .time-main,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(5) .time-main,
    #oneday .people:nth-child(2) .time-work .time-content .time-item:nth-child(6) .time-main
    {
        background: transparent;
    }
    #oneday .people:nth-child(2) .time-work .time-content {
        height: auto;
        margin-bottom: 40px;
    }


    #oneday .people .message {
        margin-left: 0px;
        margin-right: 0px;
    }

    #oneday .people .width-max.time::after {
       background: #999999;
        max-height: 57%;
        top: 260px;
        width: 1px;
    }
    #oneday .people:nth-child(1) .width-max.time::after {
   
        max-height:67%;
    
    }

    #oneday .people .time-work .message .messge-text {
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
        padding: 15px 15px 40px;
        letter-spacing: 0px;
        position: relative;
        min-height: auto
    }
    #oneday .people .time-work .message .messge-img {
        max-width: 90%;
        position: relative;
        margin: auto;
        z-index: 11;
    }
    #oneday .people:nth-child(2) {
        margin-top: 40px;
    }
    #oneday .people .time-work .message .messge-text .title-m {
        font-size: 12px;
        padding: 2px 20px;
        margin-bottom: 10px;
    }

}  

@media screen and (max-width: 650px) {
    #oneday .people .time-work .time-content .time-item .box-work .time-heading {
        font-size: 18px;
    }
    #oneday .people .time-work {
        padding: 15px 10px 60px 10px;
    }
    #oneday .people .time-work .time-content .time-item .box-work .time-text {
        padding: 0px 10px 15px;
    }
    #oneday .people .time-work .time-content .time-item .time-main {
        font-size: 18px;
        padding-left: 10px;
    }
}


@media screen and (max-width: 350px) {
    #oneday .people .time-work .time-content .time-item .box-work .time-heading {
        font-size: 16px;
    }
}


















































