

/*css fadeIn Up*/
/*=================================================*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.js-fadein {
    opacity: 0;
}

.scroll-in {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#office {
    position: relative;
    /*overflow: hidden;*/
    background: #fff;
}
#header .width-d {
    width: 100%;
    vertical-align: bottom;
}

/*header*/
/*=======================================================*/



/*main banner*/
/*====================================================*/
#office .mobi {
   display: none;
}

#office .flex {
    display: flex;
    flex-wrap: wrap;
}
#office .img-width {
   width: 100%;
   height: 100%;
   object-fit: cover;
   vertical-align: bottom;
}

#office .banner-page {
    position: relative;
}
#office  .content-main {
    color: black;
    background-image: url(../images/work/work_bg_pc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px 100px;
}


#office  .content-main .box-content .box-title-page {
    text-align: center;
    padding: 0px 0px 50px;
}
#office  .content-main .box-content .box-title-page .content-title {
    font-size: 18px;
    line-height: 36px;
}
#office  .content-main .box-content .box-title-page .text-main {
    margin-bottom: 45px;
}

#office  .text-t1 {
    font-size: 56px;  
    line-height: 48px;

}
#office  .text-t2 {
    font-size: 18px;
    line-height: 36px;
    color: #dc6d6d;
}


/*list*/
/*====================================================*/

#office  .list { 
    margin-bottom: 120px;
}
#office  .content-main .box-list {
    max-width: 750px;
    margin: auto;
}
#office  .list .box-list {
    justify-content: space-between;
}
#office  .list .box-list .list-item {
    width: calc(100%/4 - 25px);
    background: #cf1314;
    text-align: center;
    min-height: 85px;
}
#office  .list .box-list .list-item  .number {
    font-size: 12px;
    margin-bottom: 10px;
}
#office  .list .box-list .list-item  .text-link {
    font-size: 18px;
}
#office  .list .box-list .list-item:hover {
    opacity: 0.6;
}
#office  .list .box-list .list-item a {
    color: white;
    width: 100%;
    height: 100%;
    padding: 5px 10px 10px;
    display: block;
    text-decoration: none;   
    position: relative;
}
#office  .list .box-list .list-item a::after{
    position: absolute;
    content: "";
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    bottom: 8px;
    left: calc(50% - 3px);
}
/*p1*/
/*=======================================================*/
#office  .banner-item {
    position: relative;
}
#office .box-content .box-people:nth-child(even) .banner-item::before {
    position: absolute;
    content: '';
    width: calc(50% - 20%);
    height: 65px;
    left: 0px;
    bottom: 20px;
    background: #cf1314;
}
#office  .box-povit {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

#office  .box-povit .povit {
    
    margin: auto;
    color: white;
    font-size: 36px;
    margin: auto 5% auto 25%;
    
}
#office .box-content .box-people:nth-child(even) .box-povit .povit .text{
    display: inline-block;
    background: #cf1314;
    padding: 3px 30px 5px 0px;
}
#office .box-text {
    padding-bottom: 100px;
}
#office .box-item-main {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rebeccapurple;
    /* background-image: url(../images/work/work_bg_page_pc.jpg);
    background-size: cover;
    background-position: center; */
}

#office .box-text .width-box {
    background: wheat;

    padding: 45px 145px 50px 130px;
    margin: auto 5% auto 25%;
}
#office .box-text .width-box .box-item {
    margin-bottom: 45px;
}
#office .box-text .width-box .dt-text {
    font-size: 16px;
    background: #cf1314;
    padding: 5px 10px;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
    display: inline-block;
}
#office .box-text .width-box .dd-text {
    font-size: 14px;
    line-height: 24px;

}
#office .box-text .width-box .box-img {
    justify-content: space-between;
    margin-bottom: 40px;
}

#office .box-text .width-box .box-img .img-item {
    width: calc(50% - 25px);
}
#office .box-text .width-box  .link-page {
    justify-content: flex-end;
}
#office .box-text .width-box  .link-page .link {
    display: block;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
}
#office .box-text .width-box  .link-page .link:hover {
    opacity: 0.6;
}
#office .box-text .width-box .link-page .link.one {
    background: #ffe317;
    color: black;
    margin-right: 20px;
}
#office .box-text .width-box .link-page .link.two{
    background: #aa8209;
    color: white
}
#office  .box-content .box-people:nth-child(odd)  .banner-item::before {
    position: absolute;
    content: '';
    width: calc(50% - 20%);
    height: 65px;
    right: 0px;
    bottom: 20px;
    background: #cf1314;
}
#office .box-content .box-people:nth-child(odd) .box-povit .povit {
    display: flex;
    justify-content: flex-end;
    margin: auto 25% auto 5%;
}
#office .box-content .box-people:nth-child(odd) .box-povit .povit .text{
    display: inline-block;
    background: #cf1314;
    padding: 3px 0px 5px 30px; 
}
#office .box-content .box-people:nth-child(odd) .box-text .width-box {
    background: wheat;
    padding: 45px 145px 50px 130px;
    margin: auto 25% auto 5%;
}

/*footer*/
/*===================================================*/
@media (max-width: 1480px) {

    #office .list .box-list .list-item a {
        font-size: 15px;
    }
   
    
   
}


@media (max-width: 1280px) {

    /*header*/
    /*=================================================*/


}

@media (max-width: 992px) {

    /*header*/
    /*==========================================*/


    /*=============================================*/


}

@media (max-width: 767px) {
    #office .box-four li {
        position: relative;
        max-width: 100%;
        width: calc(50% - 7.5px);
        margin-bottom: 50px;
    }
    #office .box-four .item-text-01,   #office .box-four .item-text-02,  #office .box-four .item-text-03,  #office .box-four .item-text-04,  #office .box-four .item-text-05,  #office .box-four .item-text-06,  #office .box-four .item-text-07,  #office .box-four .item-text-08 {
        top: 0%;
        left: 0%;
        font-size: 12px;
        line-height: 14px;
    }
 
    #office .mobi {
        display: block;
    }
    #office .destop {
        display: none;
    }
        #office .content-main {
        padding: 25px 0px 25px;
    }
    #office .text-t1 {
        font-size: 28px;
        line-height: 24px;
    }
    #office .text-t2 {
        font-size: 12px;
        line-height: 15px;
    }
    #office .content-main .box-content .box-title-page {
        text-align: center;
        padding: 0px 0px 30px;
    }
    #office .content-main .box-content .box-title-page .content-title {
        font-size: 12px;
        line-height: 18px;
    }
    #office .content-main .box-content .box-title-page .text-main {
        margin-bottom: 20px;
    }
    #office .list {
        margin-bottom: 0px;
    }
    #office .box-content .box-people:nth-child(odd) .box-povit .povit .text ,#office .box-content .box-people:nth-child(even) .box-povit .povit .text {
        display: none;
    }
    #office .box-text .width-box {
        padding: 0px
    }
    #office .box-text {
        padding: 0px 10px 10px;
    }
    #office .box-text .width-box .dt-text {
        font-size: 13px;
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    #office .box-text .width-box .dd-text {
        font-size: 12px;
        line-height: 18px;
    }
    #office .box-text .width-box .box-item {
        margin-bottom: 30px;
        padding: 15px 25px 0px 15px;
    }
    #office .box-text .width-box .link-page {
        justify-content: center;
        padding: 15px 25px 0px 15px;
    }
    #office .box-text .width-box .box-img {
        margin-bottom: 0px;
    }
    #office .box-text .width-box .box-img .img-item {
        width: 50% ;
    }

    #office   .title-box {
        background: #cf1314;
        padding: 15px 10px ;
        align-items: center;
        font-size: 15px;
        color: white;
        position: relative;
        display: flex;
        margin-bottom: 3px;
        font-weight: 400;
    }
    #office   .title-box.open {
        margin-bottom: 0px;
    }
    #office  .title-box::after {
        position: absolute;
        content: "";
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        bottom: calc(50% - 4px);
        right: 30px;
        transition: 0.5s;
    }
    #office  .title-box.open::after{
        transform: rotate(225deg);
    }

    #office  .title-box .number {
        font-size: 12px;
        margin-right: 10px;
    }
    #office  .box-item-main {
        display: none;
    }
    #office  .box-item-main.one {
        display: block;
       
    }
    #office  .box-people:nth-child(3) .title-box {
        margin-bottom: 0px;
    }
    #office  .box-people:nth-child(3) .title-box::after {
        transform: rotate(225deg);
    }
    #office  .box-people:nth-child(3) .title-box.open::after {
        transform: rotate(45deg);
    }

    #office  .box-people:nth-child(3) .title-box.open {
        margin-bottom: 3px;
    }
    #office .box-text .width-box .link-page .link {
       font-size: 11px;
       width: 65%;
       text-align: center;
       margin-bottom: 15px;
    }
    #office .box-text .width-box .link-page .link.one {
       margin-right: 0px;
       padding: 5px 0px;
    }

}

@media (max-width: 350px) {
    #office .box-text .width-box .link-page .link {
        width: 75%;
    }
}