

/*css fadeIn Up*/
/*=================================================*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.js-fadein {
    opacity: 0;
}

.scroll-in {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#message {
    position: relative;
    /*overflow: hidden;*/
    background: #fff;
}
#header .width-d {
    width: 100%;
    vertical-align: bottom;
}

/*header*/
/*=======================================================*/



/*main banner*/
/*====================================================*/
#message .mobi {
   display: none;
}


#message .flex {
    display: flex;
    flex-wrap: wrap;
}
#message .img-width {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#message .banner-page {
    position: relative;
}
#message  .content-main {
    color: black;
}

#message  .text-main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
}

#message  .text-main .text-t1 {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
#message  .text-main .text-t2 {
    font-size: 30px;
}

#message  .text-main .image_wrap  {
    margin-bottom: 30px;
}


/*list*/
/*====================================================*/

#message  .list {
    margin-top: 160px;
    padding-right: 24.5%;
    padding-left: 24.5%;
}

#message  .list .box-list {
    justify-content: space-between;
}
#message  .list .box-list .list-item {
    width: calc(100%/6 - 3px);
    margin-right: 3px;
    background: #322b2f;
    padding: 1px 5px;
    text-align: center;
    transition: 0.2s;
}
#message  .list .box-list .list-item:hover {
    background: white;
    border-bottom: 1.5px solid #322b2f;

    /* border: 1px solid #322b2f; */
}
#message  .list .box-list .list-item:hover a {
    color: #322b2f;
    text-decoration: none;
}

#message  .list .box-list .list-item a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    
}
#message  .list .box-list .list-item:nth-child(6){
    margin-right: 0px;
    letter-spacing: -2px;
}

/*people*/
/*====================================================*/
/*info*/
#message .people {
    margin-top: 140px;
}

#message .people .info {
    padding-right: 19%;
    padding-left: 23.5%;
    margin-bottom: 35px;
}
#message .people .info-top {
    position: relative;
    margin-bottom: 80px;
}
#message .people .info .img-p {
    padding-left: 34.7%;
}
#message .people .text-p {
    position: absolute;
    width: 43.5%;
    background: #322b2f;
    color: white;
    bottom: 12%;
    z-index: 99;
    padding: 5% 5% 5% 7%;
}
#message .people .info-down {
    justify-content: space-between;
    padding-right: 6%;
    padding-left: 2%;
}

#message .people .info-down .item-info {
    width: calc(50% - 3%);
}
#message .people .info-down .item-info:nth-child(1) {
    margin-right: 3%;
}
#message .people  .dt-info {
    font-size: 20px;
    margin-bottom: 10px;
}
#message .people  .dd-info {
    font-size: 16px;
    line-height: 32px;
}
#message .people .box-name {
    margin-bottom: 50px;
}
#message .people .box-content {
    font-size: 20px;
    line-height: 36px;
}

#message .people .name-01 {
    font-size: 18px;
    position: relative;
}
#message .people .name-01::before {
    content: '';
    position: absolute;
    background:white;
    height: 18px;
    width: 6px;
    top: 6px;
    left: -15px;
}

#message .people .name-02 {
    font-size: 24px;
}
#message .people .year {
    font-size: 14px;
}
#message .people  .nam-es {
    font-size: 14px;
    margin-left: 10px;
}
/*content-p*/

#message .people .content-p {
    position: relative;
}
#message .people .content-p .content-left {
    width: 57.85%;
}
#message .people .content-p .content-item {
    width: 76.35%;
    position: absolute;
    top: 8%;
    left: 16%;;
}

#message .people .content-p .content-item .img-item {
    order: 2;
    width: 64.15%;
}
#message .people .content-p .content-item .text {
    order: 1;
    width: 35.85%;
    background: transparent;
    color: white;
    padding-right: 3.5%;
    padding-top: 4%;
}
#message .people .content-p .content-item .text .item-text:nth-child(1) {
    margin-bottom: 90px;
}
#message .people .content-p .content-item .text .item-text.mb-l:nth-child(1) {
    margin-bottom: 135px;
}


/*footer*/
/*===================================================*/
@media (max-width: 1480px) {
    #message .list {
        margin-top: 100px;
        padding-right: 18.5%;
        padding-left: 18.5%;
    }
    #message .list .box-list .list-item a {
        font-size: 15px;
    }
        
    #message .people .info {
        padding-right: 15%;
        padding-left: 17.5%;
        margin-bottom: 50px;
    }
    #message .people .dd-info {
        font-size: 13px;
        line-height: 20px;
    }
    #message .people {
        margin-top: 100px;
    }
    #message .people .box-content {
        font-size: 18px;
        line-height: 32px;
    }
    #message .people .content-p .content-item {
        left: 14%;
    }
    #message .people .content-p .content-item .text .item-text:nth-child(1) {
        margin-bottom: 65px;
    }
    #message .people .content-p .content-item .text .item-text.mb-l:nth-child(1) {
        margin-bottom: 120px;
    }
    #message .people .text-p {

        padding: 5% 4% 5% 6%;
    }
}


@media (max-width: 1280px) {

    /*header*/
    /*=================================================*/

    #message .list {
        margin-top: 100px;
        padding-right: 15.5%;
        padding-left: 15.5%;
    }
    #message .list .box-list .list-item a {
        font-size: 13px;
    }
    #message .people .box-content {
        font-size: 12px;
        line-height: 20px;
    }
    #message .people .name-01 {
        font-size: 14px;
    }
    #message .people .name-01::before {
        content: '';
        position: absolute;
        background: white;
        height: 14px;
        width: 5px;
        top: 4px;
        left: -15px;
    }
        
    #message .people .info {
        padding-right: 12%;
        padding-left: 13.5%;
        margin-bottom: 50px;
    }
    #message .people .dd-info {
        font-size: 10px;
        line-height: 18px;
    }
    #message .people {
        margin-top: 100px;
    }

    #message .people .name-02 {
        font-size: 14px;
    }

    #message .people .dt-info {
        font-size: 12px;
        margin-bottom: 5px;
    }
    #message .people .content-p .content-item .text .item-text:nth-child(1) {
        margin-bottom: 20px;
    }
    #message .people .content-p .content-item .text .item-text.mb-l:nth-child(1) {
        margin-bottom: 60px;
    }
    #message .people .content-p .content-item {
        left: 12%;
    }


}

@media (max-width: 992px) {

    /*header*/
    /*==========================================*/


    /*=============================================*/

    #message .list .box-list .list-item a {
        font-size: 9px;
    }
    #message .people .dd-info {
        font-size: 8px;
        line-height: 12px;
    }
    #message .people .name-01 {
        font-size: 12px;
    }
    #message .people .name-02 {
        font-size: 10px;
    }
    #message .people .box-content {
        font-size: 11px;
        line-height: 20px;
    }
    /*footer*/
    /*=====================================================*/


}

@media (max-width: 767px) {

    #message .banner-page >.image_wrap {
        height: 300px;
    }

    #message .text-main .image_wrap {
        margin-bottom:10px;
    }
    #message .text-main .image_wrap img{
        max-width: 80%;
    }
    #message .text-main .text-t2 {
        font-size: 16px;
    }

    #message .list {
        margin-top: 30px;
        padding-right: 15px;
        padding-left:15px
    }
    
    #message .list .box-list .list-item {
        width: 100%;
        margin-right: 0px;
        padding: 1px 5px;
        text-align: center;
        margin-bottom:10px;
    }
    /*people*/
    /*=====================================================*/

    #message .people {
        margin-top: 30px;
    }
    #message .people .info {
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    #message .people .info .img-p {
        padding-left: 0%;
    }
    
    #message .people .text-p {
        position: relative;
        width: 100%;
        bottom: 0%;
        padding: 15px;
        text-align: center;
        margin: auto;
        margin-top: -30px;
        background: rgba(50,43,47, 0.9);
        padding-left: 15px;
        padding-right: 15px;
    }
    #message .people .name-01::before {
        display: none;
    }
    #message .people .box-name {
        margin-bottom: 15px;
    }
    #message .people .info-top {
        position: relative;
        margin-bottom: 15px;
    }
    #message .people .info-down .item-info {
        width: 100%;
        margin-bottom: 10px;
    }
    #message .people .info-down .item-info:nth-child(1) {
        margin-right: 0%;
    }
    #message .people .dt-info {
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    #message .people .dd-info {
        padding-left: 5px;
    }
    #message .people .info-down {
        justify-content: space-between;
        padding-right: 15px;
        padding-left: 15px;
    }

    #message .people .content-p .content-left {
      display: none;
    }
    #message .people .content-p .content-item .text {
        order: 2;
        width: 100%;
        background: #322b2f;
        color: white;
        padding: 10px;
    }
    #message .people .content-p .content-item .img-item {
        order: 1;
        width: 100%;
    }
    #message .people .content-p .content-item {
        width: 100%;
        margin: auto;
        position: relative;
        top: 0%;
        left: 0%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #message .people .content-p .content-item .text .item-text:nth-child(1) {
        margin-bottom: 10px;
    }
    #message .people .content-p .content-item .text .item-text.mb-l:nth-child(1) {
        margin-bottom: 10px;
    }


    /*main-banner*/
    /*============================================*/
    

    #back-top{
        right: 15px;
        bottom: 50px;
    }

    .scroll-top{
        width: 40px;
        height: 40px;
    }

}


