

/*css fadeIn Up*/
/*=================================================*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0);
        -webkit-transform: translate3d(0,100px,0);
    }

    to {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0);
        -webkit-transform: translate3d(0,100px,0);
    }

    to {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#message .animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

#message .animatedFadeInUp {
    opacity: 0;
}

#message .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#message{
    position: relative;
    background: #fff;
    overflow: hidden;
}

#message .image_wrap{
    display: flex;
    flex-wrap: wrap;
}

/*main banner*/
/*=============================================*/
#message .main-banner{
    position: relative;
}

#message .main-banner .image_wrap .message-img{
    width: 100% !important;
    height: 100%;
}

#message .main-banner .heading{
    text-align: center;
    position: absolute;
    top: 59.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#message .main-banner .heading .t1{
    display: flex;
    margin-bottom: 36px;
    justify-content: center;
}

#message .main-banner .heading .t2{
    font-size: 30px;
    line-height: 33px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(102,102,102,0.8), 0 0 6px rgba(102,102,102,0.8), 0 0 6px rgba(102,102,102,0.8), 0 0 6px rgba(102,102,102,0.8), 0 0 6px rgba(102,102,102,0.8), 0 0 6px rgba(102,102,102,0.8), 0 0 6px rgba(102,102,102,0.8);
    letter-spacing: -1px;
}

/*description-block*/
/*===========================================*/
#message .description-block{
    padding: 85px 0px;
}

#message .description-block .container-block{
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 0px 25px 0px 40px;
}

#message .description-block .text{
    font-size: 16px;
    line-height: 32px;
    color: #000;
    font-weight: 400;
}

/*message-content*/
/*===========================================*/

#message .message-content .item-message-block:nth-child(2n-1){
    background: #f9f7f5;
}

#message .message-content .item-message-block:nth-child(2n){
    background: #322b2f;
}

#message .message-content .item-message-block{
    padding-top: 150px;
    padding-bottom: 152px;
}

#message .message-content .item-message-block .content-message-top .container-block{
    width: 100%;
    max-width: 1226px;
    margin: auto;
    padding: 0px 60px 0px 40px;
}

#message .message-content .item-message-block .content-message-top .content-image{
    position: relative;
    margin-bottom: 78px;
}

#message .message-content .item-message-block .content-message-top .content-image .message-img{
    width: 100% !important;
    height: 100%;
}

#message .message-content .item-message-block:nth-child(2n-1) .content-message-top .content-image .info-person{
    color: #000;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-top .content-image .info-person{
    color: #fff;
}

#message .message-content .item-message-block .content-message-top .content-image .info-person{
    background: rgba(248,247,245, 0.8);
    position: absolute;
    top: 68%;
    /*bottom: 67px;*/
    left: 62px;
    width: 100%;
    max-width: 42.7%;
    padding: 62px 40px 40px 76px;
    transform: translateY(-50%);
    min-height: 345px;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-top .content-image .info-person{
    background: rgba(62,53,59, 0.8);
}

#message .message-content .item-message-block .content-message-top .content-image .info-person .title{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    position: relative;
}

#message .message-content .item-message-block:nth-child(2n-1) .content-message-top .content-image .info-person .title:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 18px;
    background: #322b2f;
    top: 6px;
    left: -15px;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-top .content-image .info-person .title:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 18px;
    background: #fff;
    top: 6px;
    left: -15px;
}

#message .message-content .item-message-block .content-message-top{
    margin-bottom: 38px;
}

#message .message-content .item-message-block .content-message-top .content-image .info-person .name{
    margin-bottom: 3px;
}

#message .message-content .item-message-block .content-message-top .content-image .info-person .t1{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 3px;
}

#message .message-content .item-message-block .content-message-top .content-image .info-person .t2{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;
}

#message .message-content .item-message-block .content-message-top .content-image .info-person .year{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
}

#message .message-content .item-message-block .content-message-top .content-image .info-person .text{
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
    position: relative;
    margin-left: -10px;
    letter-spacing: 0.5px;
}

#message .message-content .item-message-block .content-message-top .content-description{
    max-width: 1080px;
    margin: auto;
    padding: 0px 30px 0px 60px;
    display: flex;
    flex-wrap: wrap;
}

#message .message-content .item-message-block .content-message-top .content-description .row-description{
    width: 50%;
}

#message .message-content .item-message-block .content-message-top .content-description .info-text .title{
    font-size: 20px;
    line-height: 20px;
    color: #322b2f;
    font-weight: bold;
    margin-bottom: 19px;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-top .content-description .info-text .title{
    color: #fff;
}

#message .message-content .item-message-block .content-message-top .content-description .info-text .text{
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-top .content-description .info-text .text{
    color: #fff;
}

#message .message-content .item-message-block .content-message-top .content-description .row-description.item01{
    padding-right: 20px;
}

#message .message-content .item-message-block .content-message-top .content-description .row-description.item02{
    padding-left: 21px;
}

#message .message-content .item-message-block .content-message-bottom{
    position: relative;
    padding-top: 68px;
    padding-bottom: 104px;
}

#message .message-content .item-message-block .content-message-bottom:after{
    content: "";
    position: absolute;
    width: 100%;
    max-width: 57.8%;
    height: 100%;
    background: #fff;
    top: 0px;
    left: 0px;
}

#message .message-content .item-message-block .content-message-bottom .container-block{
    max-width: 1620px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
}

#message .message-content .item-message-block .content-message-bottom .content-image .message-img{
    width: 100% !important;
    height: 100%;
}

#message .message-content .item-message-block .content-message-bottom .content-description{
    width: 42%;
    padding-left: 9.7%;
    padding-right: 46px;
    padding-top: 56px;
}

#message .message-content .item-message-block .content-message-bottom .content-image{
    width: 58%;
}

#message .message-content .item-message-block .content-message-bottom .content-description .info-text .title{
    font-size: 20px;
    line-height: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description .info-text .title{
    color: #fff;
}

#message .message-content .item-message-block .content-message-bottom .content-description .info-text .text{
    font-size: 16px;
    line-height: 32px;
    color: #000;
    font-weight: 400;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description .info-text .text{
    color: #fff;
}

#message .message-content .item-message-block .content-message-bottom .content-description .row-description{
    margin-bottom: 61px;
}

#message .message-content .item-message-block.item-block02 .content-message-top{
    margin-bottom: 64px;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description{
    order: 2;
    padding-left: 70px;
    padding-right: 8.5%;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-image{
    order: 1;
}

#message .message-content .item-message-block:nth-child(2n) .content-message-bottom:after{
    left: unset;
    right: 0px;
    background: #3e353b;
    max-width: 65.6%;
}

#message .message-content .item-message-block.item-block02 .content-message-bottom .content-description .row-description.item01{
    margin-bottom: 125px;
}

#message .message-content .item-message-block.item-block03 .content-message-top{
    margin-bottom: 114px;
}

#message .message-content .item-message-block.item-block03{
    padding-bottom: 170px;
}

#message .message-content .item-message-block.item-block04 .content-message-top{
    margin-bottom: 98px;
}

#message .message-content .item-message-block.item-block04 .content-message-bottom:after,
#message .message-content .item-message-block.item-block06 .content-message-bottom:after{
    max-width: 57.8%;
}

#message .message-content .item-message-block.item-block04 {
    padding-bottom: 144px;
}

#message .message-content .item-message-block.item-block05{
    padding-bottom: 148px;
}

#message .message-content .item-message-block.item-block05 .content-message-top{
    margin-bottom: 70px ;
}

#message .message-content .item-message-block.item-block06 .content-message-top{
    margin-bottom: 65px;
}

#message .message-content .item-message-block.item-block06 .content-message-bottom .content-description .row-description.item01{
    margin-bottom: 158px;
}

@media (max-width: 1440px) {

    #message .description-block .container-block{

    }

    #message .main-banner .heading .t1 .message-img{
        height: 52px;
    }

    #message .main-banner .heading .t2{
        font-size: 28px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .info-text .text,
    #message .message-content .item-message-block .content-message-bottom .content-description .info-text .text{
        font-size: 14px;
        line-height: 28px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .info-text .title,
    #message .message-content .item-message-block .content-message-bottom .content-description .info-text .title{
        font-size: 18px;
        line-height: 18px;
    }

    #message .message-content .item-message-block .content-message-bottom .content-description{
        padding-left: 8%;
        padding-right: 40px;
    }

    #message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description{
        padding-right: 8%;
        padding-left: 50px;
    }

    #message .message-content .item-message-block .content-message-top .content-description{
        max-width: 980px;
        padding: 0px;
    }

    #message .message-content .item-message-block .content-message-top .container-block{
        padding: 0px 50px;
    }
}

@media (max-width: 1280px) {

    #message .message-content .item-message-block .content-message-top .content-image .info-person{
        padding: 40px 40px 40px 76px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person{
        padding: 40px 40px 50px 60px;
        min-height: auto;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .text{
        font-size: 17px;
        line-height: 32px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .t1{
        font-size: 22px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .title{
        font-size: 16px;
    }

    #message .message-content .item-message-block:nth-child(2n-1) .content-message-top .content-image .info-person .title:after,
    #message .message-content .item-message-block:nth-child(2n) .content-message-top .content-image .info-person .title:after{
        top: 3px;
    }

    #message .message-content .item-message-block .content-message-bottom .container-block{

    }

    #message .message-content .item-message-block .content-message-bottom .content-description{
        padding-top: 0px;
        padding-left: 50px  ;
    }

    #message .message-content .item-message-block .content-message-bottom .content-description .row-description{
        margin-bottom: 50px !important;
    }

    #message .message-content .item-message-block .content-message-bottom .content-description .row-description:last-child{
        margin-bottom: 0px !important;
    }

    #message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description{
        padding-right: 40px;
    }

    #message .message-content .item-message-block .content-message-bottom{
        padding-bottom: 60px !important;
    }

    #message .message-content .item-message-block{
        padding-bottom: 150px !important;
    }

    #message .message-content .item-message-block:nth-child(2n) .content-message-bottom:after{
        max-width: 57.8% !important;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .t2,
    #message .message-content .item-message-block .content-message-top .content-image .info-person .year{
        font-size: 13px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .name{
        margin-bottom: 0px;
    }

}


@media (max-width: 992px) {

    #message .main-banner .heading .t1{
        margin-bottom: 20px;
    }

    #message .main-banner .heading .t1 .message-img {
        height: 40px;
    }

    #message .main-banner .heading .t2 {
        font-size: 24px;
    }

    #message .description-block .container-block{
        padding: 0px 50px;
    }

    #message .description-block .text{
        font-size: 14px;
        line-height: 28px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .text {
        font-size: 15px;
        line-height: 29px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person{
        padding: 40px 20px 40px 50px;
        max-width: 50%;
        left: 40px;
        top: 60%;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .t1 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .title {
        font-size: 14px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .info-text .text,
    #message .message-content .item-message-block .content-message-bottom .content-description .info-text .text{
        font-size: 13px;
        line-height: 24px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .info-text .title,
    #message .message-content .item-message-block .content-message-bottom .content-description .info-text .title{
        font-size: 16px;
        line-height: 16px;
    }

    #message .message-content .item-message-block .content-message-bottom .content-description{
        padding-right: 25px;
    }

    #message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description{
        padding-left: 25px;
    }

    #message .message-content .item-message-block {
        padding-top: 100px;
        padding-bottom: 100px !important;
    }

}

@media (max-width: 767px) {

    #message .main-banner .heading .t1 .message-img {
        height: 30px;
    }

    #message .main-banner .heading{
        top: 56.2%;
    }

    #message .description-block .container-block{
        padding: 0px 16px;
    }

    #message .description-block {
        padding: 25px 0px;
    }

    #message .description-block .text {
        font-size: 14px;
        line-height: 22px;
    }

    #message .main-banner .heading .t2 {
        font-size: 15px;
    }

    #message .main-banner .heading .t1 {
        margin-bottom: 6px;
    }

    /*message-content*/
    /*==============================================*/
    #message .message-content .item-message-block{
        padding-top: 25px;
        padding-bottom: 20px !important;
    }

    #message .message-content .item-message-block .content-message-top {
        margin-bottom: 20px !important;
    }

    #message .message-content .item-message-block .content-message-top .container-block{
        padding: 0px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person{
        padding: 15px 5px 15px 20px;
        left: 10px;
        width: 80%;
        max-width: 245px;
        top: unset !important;
        bottom: 10px;
        transform: unset;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .text {
        font-size: 12px;
        line-height: 16px;
        margin-left: -5px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .t1 {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 16px;
    }

    #message .message-content .item-message-block .content-message-top .content-image{
        margin-bottom: 20px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .year{
        font-size: 12px;
        margin-bottom: 10px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .t2{
        margin-left: 10px;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .t2,
    #message .message-content .item-message-block .content-message-top .content-image .info-person .year{
        font-size: 12px ;
    }

    #message .message-content .item-message-block .content-message-top .content-image .info-person .title {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 3px;
    }

    #message .message-content .item-message-block:nth-child(2n-1) .content-message-top .content-image .info-person .title:after,
    #message .message-content .item-message-block:nth-child(2n) .content-message-top .content-image .info-person .title:after{
        width: 3px;
        height: 12px;
        left: -6px;
    }

    #message .message-content .item-message-block:nth-child(2n-1) .content-message-top .content-image .info-person .title:after,
    #message .message-content .item-message-block:nth-child(2n) .content-message-top .content-image .info-person .title:after{
        top: 2px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .row-description{
        width: 100%;
        padding: 0px 10px !important;
        margin-bottom: 15px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .row-description:last-child{
        margin-bottom: 0px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .info-text .text,
    #message .message-content .item-message-block .content-message-bottom .content-description .info-text .text{
        line-height: 20px;
    }

    #message .message-content .item-message-block .content-message-top .content-description .info-text .title,
    #message .message-content .item-message-block .content-message-bottom .content-description .info-text .title{
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 12px;
    }

    #message .message-content .item-message-block .content-message-bottom:after{
        display: none;
    }

    #message .message-content .item-message-block .content-message-bottom .content-image{
        width: 100%;
        order: 1 !important;
        margin-bottom: 20px;
    }

    #message .message-content .item-message-block .content-message-bottom .content-description{
        width: 100%;
        order: 2 !important;
        padding: 0px 10px;
    }

    #message .message-content .item-message-block .content-message-bottom{
        padding-top: 0px !important;
        padding-bottom: 12px !important;
        background: #fff;
    }

    #message .message-content .item-message-block:nth-child(2n) .content-message-bottom{
        background: #3e353b;
    }

    #message .message-content .item-message-block .content-message-bottom .content-description .row-description{
        margin-bottom: 20px !important;
    }

    #message .message-content .item-message-block:nth-child(2n) .content-message-bottom .content-description{
        padding: 0px 10px;
    }
}