

/*css fadeIn Up*/
/*=================================================*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.js-fadein {
    opacity: 0;
}

.scroll-in {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#oneday {
    position: relative;
    background: #fff;
}
#oneday .width-d {
    width: 100%;
    vertical-align: bottom;
}
#oneday .width-m {
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    vertical-align: bottom;
}
#oneday .mobi {
    display: none;
 }
 
 #oneday .flex {
     display: flex;
     flex-wrap: wrap;
 }
 #oneday .img-width {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
 }

/*header*/
/*=======================================================*/



/*main */
/*====================================================*/
/* banner*/
/*====================================================*/


#oneday .banner-page {
    position: relative;
    margin-top: -3px;
}
#oneday  .content-main {
    color: black;
}

#oneday  .text-main {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
}
#oneday  .text-sub {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#oneday  .text-main .text-t1 {
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    line-height: 50px;
}
#oneday  .text-main .text-t2 {
    font-size: 20px;
    font-weight: 400;
}

#oneday  .text-main .image_wrap  {
    margin-bottom: 30px;
}

#oneday  .link-page {
    font-size: 12px;
    padding: 7px 0px  
}
#oneday .link-page a{
   color: #ffa936;
}
/* title-main*/
/*====================================================*/

#oneday .content .title-content {
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 110px;
    position: relative;
}
#oneday .content .text-icon {
    font-size: 18px;
    line-height: 30px;
}

#oneday .content .title-content::after {
    content: '';
    position: absolute;
    background-image: url(../images/oneday_icon_car_red.png);
    width: 77px;
    height: 60px;
    top: 0px;
    left: 18px;
}

/* content-main*/
/*====================================================*/
#oneday .content .content-main {
    background-image: url(../images/oneday_backgroud_pc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0px 50px;
}
#oneday .content .content-main .icon-box {
    justify-content: space-between;
}

#oneday .time-work .time-work-title {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 50px;
    font-weight: 600;
    color: #004fa2;
    text-align: center;
}
#oneday .time-work  .time-content {
    padding-top: 75px;
    background: white;
    padding: 30px 60px;
} 
#oneday .people:nth-child(2) .time-work .time-content {
    margin-bottom: 150px;
}
#oneday .time-work .time-content .time-item:nth-child(1),
#oneday .time-work .time-content .time-item:nth-child(4), 
#oneday .time-work .time-content .time-item:nth-child(6), 
#oneday .time-work .time-content .time-item:nth-child(8) 
{
    position: relative;
    float: left;
    width: 50%;
    padding-right: 120px;
}
#oneday .time-work .time-content .time-item:nth-child(2),
#oneday .time-work .time-content .time-item:nth-child(3), 
#oneday .time-work .time-content .time-item:nth-child(5), 
#oneday .time-work .time-content .time-item:nth-child(7), 
#oneday .time-work .time-content .time-item:nth-child(9) 
{
    padding-right: 0px;
    padding-left: 120px;
}

#oneday .time-work .time-content .time-item .time-main {
    position: absolute;
    background-image: url(../images/oneday_icon_crile_sp.png);
    width: 100px;
    height: 100px;
    padding: 5px 0px;
    z-index: 99;
    color: white;
    text-align: center;
    padding-top: 25px;
}
#oneday .time-work .time-content .time-item:nth-child(7) .time-main {
    padding-top: 38px; 
}

#oneday .time-work .time-content .time-item .time-main .number {
    font-size: 20px;
    color: black;
    line-height: 30px;
    font-weight: 600;
}
#oneday .time-work .time-content .time-item .time-main .text {
    font-size: 16px;
    color: #bd134b;
    line-height: 30px;
    font-weight: 600;
}

#oneday .time-work .time-content .time-item:nth-child(1) .time-main,
#oneday .time-work .time-content .time-item:nth-child(4) .time-main,
#oneday .time-work .time-content .time-item:nth-child(6) .time-main,
#oneday .time-work .time-content .time-item:nth-child(8) .time-main
{
    right: -50px;
}
#oneday .time-work .time-content .time-item:nth-child(2) .time-main,
#oneday .time-work .time-content .time-item:nth-child(3) .time-main, 
#oneday .time-work .time-content .time-item:nth-child(5) .time-main, 
#oneday .time-work .time-content .time-item:nth-child(7) .time-main, 
#oneday .time-work .time-content .time-item:nth-child(9) .time-main 
{
    left: 45%;
}

#oneday .time-work .time-content .time-item:nth-child(1) .time-main {
   top:100px
}
#oneday .time-work .time-content .time-item:nth-child(2) .time-main {
    top: 305px;
}
#oneday .time-work .time-content .time-item:nth-child(3) .time-main {
    top: 21%;
}
#oneday .time-work .time-content .time-item:nth-child(4) .time-main {
    top: 38%;
} 
#oneday .time-work .time-content .time-item:nth-child(5) .time-main {
    top: 46.5%;
}
#oneday .time-work .time-content .time-item:nth-child(6) .time-main {
    top: 54%;
}
#oneday .time-work .time-content .time-item:nth-child(7) .time-main {
    top: 66%;
}
#oneday .time-work .time-content .time-item:nth-child(8) .time-main {
    top: 115px;
}
#oneday .time-work .time-content .time-item:nth-child(9) .time-main {
    top:84.5%
}

#oneday .time-work .time-content .time-item .box-work {
    padding: 25px 17px 15px;
    border: 2px solid #737373;
    
}

#oneday .time-work .time-content .time-item .box-work .time-heading {
    font-size: 20px;
    line-height: 24px;
    color: #bd134b;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1.5px solid #bd134b;
    border-style: dashed;
    margin: 0px 10px 10px;
}
#oneday .time-work .time-content .time-item .box-work .time-heading.one {
    padding-bottom: 20px;
}

#oneday .time-work .time-content .time-item .box-work .time-heading::after {
    content: '';
    position: absolute;
    z-index: 100;
}
#oneday .time-work .time-content .time-item:nth-child(1) .box-work .time-heading::after,
#oneday .time-work .time-content .time-item:nth-child(4) .box-work .time-heading::after,
#oneday .time-work .time-content .time-item:nth-child(6) .box-work .time-heading::after
{
    width: 34px;
    height: 26px;
    background-image: url(../images/oneday_icon_arow_left.png);
    right: -55px;
}
#oneday .time-work .time-content .time-item:nth-child(8) .box-work .time-heading::after{
    width: 37px;
    height: 26px;
    background-image: url(../images/oneday_icon_arow_left2.png);
    right: -55px;  
}

#oneday .time-work .time-content .time-item:nth-child(2) .box-work .time-heading::after,
#oneday .time-work .time-content .time-item:nth-child(3) .box-work .time-heading::after,
#oneday .time-work .time-content .time-item:nth-child(5) .box-work .time-heading::after,
#oneday .time-work .time-content .time-item:nth-child(7) .box-work .time-heading::after,
#oneday .time-work .time-content .time-item:nth-child(9) .box-work .time-heading::after
{
    background-image: url(../images/oneday_icon_arow_right.png);
    width: 40px;
    height: 38px;
    left: -57px;
}

#oneday .time-work .time-content .time-item:nth-child(1) .box-work .time-heading::after {
    top: 115%; 
}
#oneday .time-work .time-content .time-item:nth-child(2) .box-work .time-heading::after {
    bottom: -408%;
}
#oneday .time-work .time-content .time-item:nth-child(3) .box-work .time-heading::after {
    top: 70%; 
}
#oneday .time-work .time-content .time-item:nth-child(4) .box-work .time-heading::after {
    top: 163%;
}
#oneday .time-work .time-content .time-item:nth-child(5) .box-work .time-heading::after {
    top: 246%; 
}
#oneday .time-work .time-content .time-item:nth-child(6) .box-work .time-heading::after {
    top: 275%; 
}
#oneday .time-work .time-content .time-item:nth-child(7) .box-work .time-heading::after {
    top: 316%;
}
#oneday .time-work .time-content .time-item:nth-child(8) .box-work .time-heading::after {
    top: 195%;
}
#oneday .time-work .time-content .time-item:nth-child(9) .box-work .time-heading::after {
    top:130%;   
}

#oneday .time-work .time-content .time-item .box-work .time-heading::before {
    content: '';
    position: absolute;
    background-image: url(../images/oneday_icon_car_gred.png);
    width: 53px;
    height: 29px;
    top: -15px;
    left: -55px;
    z-index: 100;
}

#oneday .time-work .time-content .time-item .pic-item {
    margin-top: 10px;
}  

#oneday .time-work .time-content .time-item .box-work .text {
    font-size: 14px;
    line-height: 24px;
}

#oneday .time-work .time-content .time-item:nth-child(3) {
    margin-top: 40px;
}

#oneday .time-work .time-content .time-item:nth-child(4) {
    margin-top: -272px;
}

#oneday .time-work .time-content .time-item:nth-child(5) {
    margin-top: 40px;
}

#oneday .time-work .time-content .time-item:nth-child(6) {
    margin-top: -250px;
}
#oneday .time-work .time-content .time-item:nth-child(7) {
    margin-top: 40px;
}
#oneday .time-work .time-content .time-item:nth-child(8) {
    margin-top: -240px;
}
#oneday .time-work .time-content .time-item:nth-child(9) {
    margin-top: 40px;

}

#oneday .width-m.time {
    position: relative;
}

#oneday .width-m.time::after {
    content: "";
    position: absolute;
    width: 4px;
    height: calc(100% - 405px);
    background: #bd134b;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}
#oneday .width-m.time::before {
    content: "";
    position: absolute;
    width: 131px;
    height:90px; 
    background-image: url(../images/oneday_text_time_pc.png);
    bottom: 210px;
    left: 46%;
    transform: translateX(-50%);
}

#oneday .time-work .time-content .time-item .time .time-number{
  display: block;
}

#oneday .time-work .time-content .time-item:nth-child(1) .time .time-number{
    margin-top: 65%;
}
#oneday .time-work .time-content .time-item:nth-child(1) .time::after{
    top:43%;
}
 
#oneday .time-work .time-content .time-item:nth-child(2) .time .time-number{
    margin-top: 65%;
}
#oneday .time-work .time-content .time-item:nth-child(2) .time::after{
    top:58%;
}
  
#oneday .time-work .time-content .time-item:nth-child(3) .time .time-number{
    margin-top: 54%;
}
#oneday .time-work .time-content .time-item:nth-child(3) .time::after{
    top: 30%;
}
  
#oneday .time-work .time-content .time-item:nth-child(4) .time .time-number{
    margin-top: 55%;
}
#oneday .time-work .time-content .time-item:nth-child(4) .time::after{
    top:35%;
}
  
#oneday .time-work .time-content .time-item:nth-child(5) .time .time-number{
    margin-top: 50%;
}
#oneday .time-work .time-content .time-item:nth-child(5) .time::after{
    top:32%;
}
  
#oneday .time-work .time-content .time-item:nth-child(6) .time .time-number{
    margin-top: 65%;
}
#oneday .time-work .time-content .time-item:nth-child(6) .time::after{
    top:45%;
}
  
#oneday .time-work .time-content .time-item:nth-child(7) .time .time-number{
    margin-top: 35%;
}
#oneday .time-work .time-content .time-item:nth-child(7) .time::after{
    top:45%;
}

#oneday .footer-main {
    position: relative;
}
#oneday .footer-main .back-top {
    position: absolute;
    top:0px;
    right: 0px;
    cursor: pointer;
}

@media (max-width: 1280px) {

    /*header*/
    /*=================================================*/

    #oneday .text-sub {
        width: 30%;
    }
    #oneday .text-sub img{
        max-width: 100%;
    }
    #oneday .text-main .text-t1 {
        font-size: 30px;
        margin-bottom: 0px;
        line-height: 40px;
    }
    #oneday .text-main .text-t2 {
        font-size: 16px;
    }

}

@media (max-width: 992px) {

    /*header*/
    /*==========================================*/
    #oneday .time-work .time-content {
        padding-top: 75px;
        background: white;
        padding: 30px 30px;
    }
    #oneday .content .title-content {
        font-size: 24px;
    }
    #oneday .time-work .time-content .time-item:nth-child(1), #oneday .time-work .time-content .time-item:nth-child(4), #oneday .time-work .time-content .time-item:nth-child(6), #oneday .time-work .time-content .time-item:nth-child(8) {
        padding-right: 85px;
    }
    #oneday .time-work .time-content .time-item:nth-child(2), #oneday .time-work .time-content .time-item:nth-child(3), #oneday .time-work .time-content .time-item:nth-child(5), #oneday .time-work .time-content .time-item:nth-child(7), #oneday .time-work .time-content .time-item:nth-child(9) {
        padding-right: 0px;
        padding-left: 85px;
    }
    .time-content .time-item .box-work .text {
        font-size: 10px;
        line-height: 16px;
    }
    #oneday .time-work .time-content .time-item .box-work .text {
        font-size: 10px;
        line-height: 15px;
    }

    #oneday .time-work .time-content .time-item:nth-child(2) .time-main, #oneday .time-work .time-content .time-item:nth-child(3) .time-main, #oneday .time-work .time-content .time-item:nth-child(5) .time-main, #oneday .time-work .time-content .time-item:nth-child(7) .time-main, #oneday .time-work .time-content .time-item:nth-child(9) .time-main {
        left: 43.5%;
    }
    #oneday .time-work .time-content .time-item .box-work {
        padding: 25px 10px 15px;
        border: 2px solid #737373;
    }
    #oneday .time-work .time-content .time-item:nth-child(1) .box-work .time-heading::after, #oneday .time-work .time-content .time-item:nth-child(4) .box-work .time-heading::after, #oneday .time-work .time-content .time-item:nth-child(6) .box-work .time-heading::after {

        right: -47px;
    }
    #oneday .time-work .time-content .time-item:nth-child(2) .time-main {
        top: 270px;
    }
    #oneday .time-work .time-content .time-item:nth-child(6) {
        margin-top: -230px;
    }
    #oneday .time-work .time-content .time-item:nth-child(8) {
        margin-top: -210px;
    }
    #oneday .time-work .time-content .time-item:nth-child(2) .box-work .time-heading::after {
        bottom: -370%;
    }
    #oneday .time-work .time-content .time-item:nth-child(3),#oneday .time-work .time-content .time-item:nth-child(5),#oneday .time-work .time-content .time-item:nth-child(7),#oneday .time-work .time-content .time-item:nth-child(9) {
        margin-top: 25px;
    }
    #oneday .time-work .time-content .time-item:nth-child(4) {
        margin-top: -275px;
    }
    #oneday .width-m.time::before {
        bottom: 146px;
        left: 38%;
        transform: scale(0.8);
    }
    /*=============================================*/


    /*footer*/
    /*=====================================================*/


}

@media (max-width: 767px) {
    #oneday .mobi {
        display: block;
    }
    #oneday .destop {
        display: none;
    }


    #oneday .banner-page >.image_wrap {
        height: auto;
    }

    #oneday .text-main .image_wrap {
        margin-bottom:10px;
    }
    #oneday .text-main .image_wrap img{
        max-width: 80%;
    }
    #oneday .text-main .text-t2 {
        font-size: 16px;
    }

    #oneday .list {
        margin-top: 0px;
        padding-right: 0px;
        padding-left:0px
    }
    
    #oneday .list .box-list .list-item {
        width: 100%;
        margin-right: 0px;
        padding: 1px 5px;
        text-align: center;
        margin-bottom:10px;
    }
    /*content-main*/
    /*=====================================================*/

    #oneday .link-page,#oneday .width-m.time::before  {
        display: none;
    }


    
    /*main-banner*/
    /*============================================*/
    
    #back-top{
        right: 15px;
        bottom: 50px;
    }
    #oneday .width-m {
        padding: 0px 25px;
    }

    #oneday .text-sub img {
        max-width: 160%;
        margin-left: 32%;
    }
    #oneday .text-main .text-t1 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    #oneday .text-main .text-t2 {
        font-size: 10px;
    }
    #oneday .content .content-main {
        padding: 40px 0px 50px;
    }
    #oneday .content .title-content {
        font-size: 21px;
        line-height: 20px;
        padding-left: 90px;
    }
    #oneday .content .text-icon {
        font-size: 15px;
        line-height: 30px;
    }
    #oneday .content .title-content::after {
        transform: scale(0.7);
        top: -5px;
        left: 10px;
    }


    #oneday .time-work .time-content .time-item:nth-child(1),
    #oneday .time-work .time-content .time-item:nth-child(4), 
    #oneday .time-work .time-content .time-item:nth-child(6), 
    #oneday .time-work .time-content .time-item:nth-child(8) 
    {
        position: relative;
        float: none;
        width: 100%;
        padding-right: 0px;
    }
    #oneday .time-work  .time-content {
        padding-top: 45px;
        padding: 30px 25px;
    } 
    #oneday .time-work .time-content .time-item .time-main {
        background-image: none;
        background: #ebb8c9;
        position: relative;
        height: auto;
        text-align: left;
        width: 100%;
        padding: 5px 20px 5px 40px;
        z-index: 0;
    }
    #oneday .time-work .time-content .time-item .time-main span.text {
        font-size: 15px;
    }
    #oneday .time-work .time-content .time-item:nth-child(7) .time-main {
        padding-top: 12px;
    }
    #oneday .time-work .time-content .time-item .time-main br {
        display: none;
    }

    #oneday .time-work .time-content .time-item:nth-child(1) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(2) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(3) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(4) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(5) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(6) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(7) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(8) .time-main, 
    #oneday .time-work .time-content .time-item:nth-child(9) .time-main
    {
        top:0px;
        left: 0px;
    }
    #oneday .width-m.time::after,#oneday .time-work .time-content .time-item .box-work .time-heading::after {
        display: none;
    }
    #oneday .time-work .time-content .time-item .box-work .time-heading::before {
        background-image: url(../images/oneday_icon_car_gred_sp.png);
        width: 70px;
        height: 38px;
        top: -48px;
        left: -56px;
        transform: scale(0.7);
    }
    #oneday .time-work .time-content .time-item:nth-child(1), 
    #oneday .time-work .time-content .time-item:nth-child(2), 
    #oneday .time-work .time-content .time-item:nth-child(3), 
    #oneday .time-work .time-content .time-item:nth-child(4), 
    #oneday .time-work .time-content .time-item:nth-child(5), 
    #oneday .time-work .time-content .time-item:nth-child(6), 
    #oneday .time-work .time-content .time-item:nth-child(7), 
    #oneday .time-work .time-content .time-item:nth-child(8), 
    #oneday .time-work .time-content .time-item:nth-child(9) {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
    }
    #oneday .time-work .time-content .time-item .box-work {
        padding: 5px 0px 10px;
        border: 2px solid #838383;
        margin-bottom: 15px;
        width: 100%;  
    }
    #oneday .time-work .time-content .time-item:nth-child(9) .box-work{
        margin-bottom: 0px;
    }
    #oneday .time-work .time-content .time-item .box-work .time-heading {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 8px;
        margin: 10px 25px 10px;
    }
    #oneday .time-work .time-content .time-item .box-work .text {
        font-size: 12px;
        line-height: 17px;
        padding: 0px 10px;
    }
    #oneday .time-work .time-content .time-item .pic-item {
        margin-top: 10px;
        padding: 0px 10px;
    }
}


@media (max-width: 350px) {
    #oneday .content:nth-child(2) .box-main .faq-item .text-top {
        font-size: 14px;
    }

}



