

/*css fadeIn Up*/
/*=================================================*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration:3s;
    -webkit-animation-fill-mode: both
}

.js-fadein {
    opacity: 0;
}

.scroll-in {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#lp {
    position: relative;
    /*overflow: hidden;*/
    background: #fff;
}
#lp .width-d {
    width: 100%;
    vertical-align: bottom;
}

/*header*/
/*=======================================================*/
#header {
    padding-left: 5%;
    padding-top: 15px;

}


/*main banner*/
/*====================================================*/
#lp .mobi {
   display: none;
}

#lp .content-main {
    color: black;
}
#lp .flex {
    display: flex;
    flex-wrap: wrap;
}
#lp .img-width , footer .img-width{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
#lp  .width-m {
    max-width: 1240px;
    padding: 0px 20px;
    margin: auto;
}

#lp .banner-page {
    position: relative;
}

#lp  .box-btn {
    position: absolute;
    bottom: 4%;
    left: 52%;
    text-align: center;
    color: white;
    font-weight: 600;
    background: #000000;
    padding: 20px;
    max-width: 35%;
}

#lp  .btn {
    background: #e71f19;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
    position: relative;
}
#lp  .btn::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    left: calc(100% - 50px);
    top: calc(50% - 13px);
    cursor: pointer; 
}



#lp  .btn a {
    color: white;
    text-decoration: none;
}

#lp  .text-main .text-t2 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 600;
    margin-left: 20px;
    vertical-align: bottom;
}

#lp  .box-btn .image_wrap  {
    margin-bottom: 55px;
}
/*info*/
/*====================================================*/

#lp .info {
    background: #000000;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 40px 0px 45px;
}
#lp .info .text-01 {
    margin-bottom: 15px;
}
#lp .info .text-02 {
    margin-bottom: 25px;
}
#lp .info .text-03 {
    margin-bottom:20px;
}
#lp .info .text-04 {
    margin-bottom: 10px;
}
#lp .info .text-tall {
    font-size: 43px;
}
/*number*/
/*====================================================*/
#lp .number-p {
    background: #eeeeee;
    padding:  60px 0px 55px;
}
#lp .number-p .box-number {
    justify-content: space-between;
}
#lp .number-p .box-number .item-number {
    text-align: center;
    max-width: 320px;
}
#lp .number-p .box-number .item-number .dt-number {
    margin-bottom: 5px;
}

#lp .number-p .box-number .item-number .dd-number {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 50px;
    position: relative;
}
#lp .number-p .box-number .item-number .dd-number::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #999999;
    left: calc(50% - 30px);
    top: 145%;
    transform: rotate(180deg);
}

#lp .number-p .box-number .item-number .title-main {
    margin-bottom: 10px;
}

/*merit*/
/*====================================================*/
#lp .merit {
    padding:  85px 0px 55px;
    position: relative;
}
#lp .merit::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 25px solid white;
    left: calc(50% - 35px);
    bottom: -24px;
    transform: rotate(180deg);  
}




#lp .merit .box-ixon {
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}
#lp .merit .box-merit .item-merit {

    padding: 45px 20px 15px 20px;
    border: 2px solid #e3e3e3;
    text-align: center;
  width: calc(100%/3 - 40px);
}
#lp .heading {
    margin-bottom: 50px;
    text-align: center;
}
#lp .heading .image_wrap{
    margin-bottom: 5px;
}
#lp .heading .heading-jp {
    font-size: 20px;
    color: #9f650a;
}
#lp .merit .box-ixon .text {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    letter-spacing: -3px;
}
#lp .merit .box-ixon .yellow {
    background: #ffff27;
}
#lp .merit .box-ixon .image_wrap {
    margin-bottom: 40px;
}

/*check*/
/*====================================================*/
#lp .check {
    background: #000000;
    padding:  95px 0px 60px;
    color: white;
}
#lp .check .box-check {
    max-width: 845px;
    margin: auto;
    border: 1.5px solid #d5d5d5;
    padding: 70px 80px 10px 80px;
    position: relative;
}
#lp .check .box-check .titile-check {
    position: absolute;
    left: 32%;
    top: -10%;
    padding: 0px 20px;
    background: #000000;
    font-size: 52px;
    font-weight: 600;
    color: #d5d5d5;
}

#lp .check .box-check .text-t {
    font-size: 64px;
}

#lp .check .box-check .left {
    width: 290px;
    font-size: 18px;
    max-width: 290px;
    overflow: hidden;
    font-weight: 600;
}
#lp .check .box-check .right {
    width: calc(100% - 290px);
    font-size: 14px;
}

#lp .check .box-check .coman {
    letter-spacing: -12px;
    font-weight: 200;
    margin-left: 2px;
    /* margin-right: 2px; */
}
#lp .check .box-check .tiem-check {
    margin-bottom: 30px;
    position: relative;
    justify-items: center;
    align-items: center;
}

#lp .check .box-check .tiem-check::after {
    content: '';
    position: absolute;
    background-image: url(../images/LP_check_pc.png);
    left: -25px;
    top: 5px;
    width: 17px;
    height: 17px;
}
/*event*/
/*====================================================*/
#lp .event {
    padding:  100px 0px 0px;
    position: relative;
}
#lp .event::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom:60px solid #999999;
    right:30px;
    top: 90px;
    transform: rotate(180deg);
}
#lp .event::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom:60px solid #000000;
    right:160px;
    top: 90px;
    transform: rotate(180deg);
}
#lp .event .heading {
    margin-bottom: 60px;
    text-align: center;
}
#lp .event .item-event  .text-item , #lp .event .item-event  .img-item {
    width: 50%;
}

#lp .event .item-event  .text-item {
    background: #000000;
    color: white;
    padding: 30px 25px 20px 30px;
    letter-spacing: -2px;
}
#lp .event .item-event:nth-child(3) .text-item {
    background: #bababa;
    color: black;
}
#lp .event .item-event  .text-item .title {
    align-items: center;
    margin-bottom: 20px;
}
#lp .event .item-event  .text-item .title .number-note {
    margin-left: 27px;
    font-size: 18px;
    width:calc(75% - 52px) ;
}
#lp .event .item-event  .text-item .title .number-a {
    margin-left: 25px;
    width: calc(8% - 25px);
}
#lp .event .item-event  .text-item .title .number {

    width: 17%;
}
#lp .event .item-event  .text-item  .content {
    font-size: 15px;
    line-height: 30px;
}
/*voice*/
/*====================================================*/


#lp .voice {
    padding:  165px 0px 80px;
    max-width: 960px;
    margin: auto;
    
}
#lp .voice .heading {
    margin-bottom: 40px;
}

#lp .voice .item-voice {
    margin-bottom: 50px;
}

#lp .voice .dt-voice {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}
#lp .voice .dd-voice {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}

/*about*/
/*====================================================*/
#lp .about {
    padding:  40px 0px 168px;
    background: #000000;
    color: white;
}
#lp .about .heading {
    margin-bottom: 40px;

}
#lp .about .box-about {
    max-width: 640px;
    margin: auto;
}

#lp .about  .heading .heading-jp {
    color: white
}

#lp .about .left {
    width: 210px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 45px;
}
#lp .about .right {
    width: calc(100% - 210px);
    font-size: 15px;
    font-weight: 400;
    padding-left: 40px;
    line-height: 30px;
}
#lp .about .item-about {
    margin-bottom: 17px;
}


/*entry*/
/*====================================================*/
#lp .entry {
    padding:  165px 0px 180px;
    background: #000000;
    color: white;
}
#lp .entry   .heading .heading-jp {
    color: white
}

#lp .entry .box-entry {
    max-width: 960px;
    margin: auto;
    padding: 0px 45px;
  
}
#lp .entry .box-entry .title-01 {
    font-size: 12px;
    margin-bottom: 20px;
}
#lp .entry .box-entry .box-form {
    border: 1.5px #272727 solid;
    padding: 50px 40px 15px 50px;
    position: relative;
    margin-bottom: 60px;
}
#lp .entry .box-entry .box-form::after {
    content: '';
    position: absolute;
    height: calc(100% - 90px);
    background: #272727 ;
    left: 29%;
    width: 1.5px;
    top: 45px;
}

#lp .entry .info-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
#lp .entry .info-item:nth-child(6) {
    margin-bottom: 45px;
}
#lp .entry .info-item:nth-child(7) {
    margin-bottom: 70px;
}
#lp .entry .info-item:nth-child(7) .form-left {
    align-items: flex-start
}
#lp .entry .info-item:nth-child(8) .form-left {
    align-items: flex-start
}

#lp .entry .info-item .form-left {
    width: 210px;
    align-items: center;
} 
#lp .entry .info-item .form-right {
    width: calc( 100% - 210px);
    padding-left: 25px;
} 
#lp .entry .info-item .form-right .form-ip {
    width: 100%;
    height: 40px;   
    padding-left: 10px;
    font-size: 14px;
}
#lp .entry .info-item .form-right .form-ip::placeholder {
    color: #d5d5d5;
}
#lp .entry .info-item .form-right .form-ip.l {
    width: calc(63% - 10px);
    max-width: 330px;
    margin-right: 20px;
}
#lp .entry .info-item .form-right .form-ip.r {
    width: calc(37% - 10px);
}
#lp .entry .info-item .form-right .checkbox_field_text {
    width: 50%;
}
#lp .entry .info-item .form-right .checkbox_field_text {
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    display: block;
    margin-bottom: 20px;
}
#lp .entry .info-item .form-right .checkbox_field_text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#lp .entry .info-item .form-right  .checkbox_field_text .check_mark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #b5b5b5;
 
}
#lp .entry .check_mark:after {
    content: "";
    position: absolute;
    display: none;
}
#lp .entry .info-item .form-right .checkbox_field_text .check_mark:after {
    left: 3px;
    top: -1px;
    width: 5px;
    height: 8px;
    border: solid #272727;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#lp .entry  .form-right .checkbox_field_text input:checked ~ .check_mark:after {
    display: block;
}

#lp .entry   .form-right .tarea-jeo {
    max-width: 690px;
    width: 100%;
    height: 160px;
    padding: 20px 15px;
    border: 1.6px solid #b5b5b5;
    font-size: 18px;
    margin-bottom: 15px;
}

#lp .entry   .form-left .note {
    color: #ff0000;
}

#lp .entry  .submbit  {
    font-size: 20px;
    color: white;
    font-weight: bold;
    max-width: 175px;
    margin: auto;
    height: 50px;
    background: #e1e1e1;
    cursor: pointer;
    transition: .4s;
    border-radius: 5px;
    cursor: pointer;
}

#lp .entry  .submbit .button_submit{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#lp .box-footer {
    background: #000000;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px;
}



#backTop.is-open {
    display: block;
}

#backTop {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 10%;
    top: 80%;
    transform: translateY(-50%);
    z-index: 999;
}

#lp .entry .info-item.mobi {
    display: none
}
#lp .entry .info-item .form-right .checkbox_field_text.mobi{
    display: none;
}


/*footer*/
/*===================================================*/





@media (max-width: 1480px) {
    #lp .event .item-event .text-item .content {
        font-size: 10px;
        line-height: 20px;
    }
    #lp .event .item-event  .text-item .title .number-note {
        margin-left: 27px;
        font-size: 14px;
        width:calc(76% - 52px) ;
    }
    #lp .event .item-event  .text-item .title .number-a {
        margin-left: 25px;
        width: calc(6% - 25px);
        margin-right: 30px;
    }


}


@media (max-width: 1280px) {

    /*header*/
    /*=================================================*/


    #lp .content-main .place .item-place .box-time {
        left: 6%;
    }
    #lp .content-main .place .box-item .left {
        padding-top: 5%;
    }
    #lp .event .item-event .text-item .title .number-note {
        margin-left: 30px;
        font-size: 12px;
    }
    #lp .event .item-event .text-item .title .number-a {
        margin-left: 15px;

    }


}

@media (max-width: 992px) {

    /*header*/
    /*==========================================*/


    /*=============================================*/
    #lp .btn {
        font-size: 19px;
        padding: 10px;
    }
    #lp .btn::after {
        padding: 6px;
        left: calc(100% - 40px);
        top: calc(50% - 10px);
    }

    #lp .number-p .box-number .item-number {
        text-align: center;
        max-width: 320px;
        width: calc(100%/3 - 10px)
    }
    #lp .merit .box-merit .item-merit {
        padding: 30px 15px 5px 15px;
        border: 2px solid #e3e3e3;
        text-align: center;
        width: calc(100%/3 - 10px);
    }
    #lp .merit .box-ixon .text {
        font-size: 14px;
    }
    #lp .event .item-event .text-item .content {
        font-size: 8px;
        line-height: 11px;
    }
    #lp .voice {
        padding: 80px 0px 40px;
    }
    #lp .event::before {
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 45px solid #000000;
        right: 125px;
        top: 50px;
    }
    #lp .event::after {
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 45px solid #999999;;
        right: 30px;
        top: 50px;
    }
    #lp .event {
        padding: 50px 0px 0px;
    }
    #lp .entry {
        padding: 90px 0px 180px;
    }
    #lp .merit {
        padding: 70px 0px 55px;
    }

    /*footer*/
    /*=====================================================*/

}




@media (max-width: 767px) {

    #lp .mobi {
        display: block;
    }
    #lp .destop {
            display: none;
    }
    #lp .entry .info-item.destop, #lp .entry .info-item .form-right .checkbox_field_text.destop {
        display: none
    }
    #lp .entry .info-item.mobi , #lp .entry .info-item .form-right .checkbox_field_text.mobi{
        display: block
    }

    #lp #header .image_wrap img {max-width: 95%;}

    /*main-banner*/
    /*============================================*/
    #lp .heading {
        margin-bottom: 40px;
        text-align: center;
    }
    #lp .heading .heading-jp {
        font-size: 14px;
    }
    #lp .heading .image_wrap img{
        max-width: 35%;
    }

    #lp .box-btn {
        position: relative;
        bottom: 0%;
        left: 0%;
        text-align: center;
        color: white;
        font-weight: 600;
        background: #000000;
        padding: 0px;
        max-width: 100%;
    }
    #lp .box-btn .image_wrap {
        margin-bottom: 20px;
    }
    #lp .btn {
        background: #e71f19;
        font-size: 24px;
        padding: 20px;
        border-radius: 10px;
        max-width: 90%;
        margin: auto;
        position: relative;
        text-align: center;
        margin-top: 20px;
    }
    #lp .btn::after {
        content: "";
        position: absolute;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(-45deg);
        left: calc(100% - 50px);
        top: calc(50% - 4px);
        cursor: pointer;
    }
    #lp .btn::after {

        padding: 6px;
        transform: rotate(45deg);
        left: calc(100% - 50px);
        top: calc(50% - 10px);
        cursor: pointer;
    }
    #lp .banner-page {
        background: #000000;
    }
    /*info*/
    /*============================================*/
    
    #lp .info {
        font-size: 20px;
        letter-spacing: -3px;
        padding: 60px 15px 55px;
    }
    #lp .info .text-tall {
        font-size: 27px;
    }

    #lp .info .text-01 {
        margin-bottom: 10px;
        
    }
    #lp .number-p .box-number .item-number {
        text-align: center;
        max-width: 100%;
        margin-bottom: 40px;
        width: 100%;
    }
    #lp .number-p .box-number .item-number:nth-child(3) {
        margin-bottom: 0px;
    }
    #lp .number-p .width-m {
      
        padding: 0px ;  
    }
    #lp .number-p {
        background: #eeeeee;
        padding: 55px 0px 0px;
    }
    /*merit/
    /*============================================*/
    #lp .merit {
        padding: 55px 0px 0px;
        position: relative;
    }
    #lp .merit .box-merit .item-merit {
        padding: 45px 20px 15px 20px;
        border: 2px solid #e3e3e3;
        text-align: center;
        width: 100%;
        margin-bottom: 35px;
    }
    #lp .merit .box-merit .item-merit {

        margin-bottom: 15px;
    }
    #lp .merit::after {

        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 15px solid white;
        left: calc(50% - 25px);
        bottom: -15px;
        transform: rotate(180deg);
    }


    /*check/
    /*============================================*/

    #lp .check {
        background: #000000;
        padding: 40px 20px 40px;
        color: white;
    }
    #lp .check .box-check {
        max-width: 845px;
        margin: auto;
        border: 1.5px solid #d5d5d5;
        padding: 40px 10px 0px 40px;
        position: relative;
    }
    #lp .check .box-check .coman {
        display: none;
    }
    #lp .check .box-check .left {
        width: 100%;
        font-size: 14px;
        max-width: 290px;
  
    }
    #lp .check .box-check .right {
        width: 100%;
        font-size: 12px;
    }
    #lp .check .box-check .titile-check {
        position: absolute;
        left: calc(50% - 80px);
        top: -4%;
        padding: 0px 20px;
        background: #000000;
        font-size: 25px;
        font-weight: 600;
        color: #d5d5d5;
    }
    #lp .check .box-check .text-t {
        font-size: 30px;
    }

    /*event /
    /*============================================*/
    #lp .event {
        padding: 40px 0px 0px;
    }
    #lp .event::after, #lp .event::before {
        display: none;
    }


    #lp .event .item-event .text-item, #lp .event .item-event .img-item {
        width: 100%;
    }
    #lp .event .item-event .text-item {
        background: #000000;
        color: white;
        padding: 35px 8px 30px 8px;
    }
    #lp .event .item-event .text-item .title .number-a {
       width: calc(100%/4 - 10px);
       margin-right: 0px;
    }
    #lp .event .item-event .text-item .title .number {
        width: calc(100%/4 - 10px);
        
     }
     #lp .event .item-event .text-item .title .number-note {
        width: calc(100%/2 - 10px);
        font-size: 12px;
        margin-left: 0px;
     }
     #lp .event .item-event .text-item .content {
        font-size: 11px;
        line-height: 19px;
    }
    #lp .event .item-event .text-item .content br {
        display: none;
    }
    /*voice /
    /*============================================*/
    #lp .voice {
        padding: 35px 0px 30px;
    }
    #lp .voice .dt-voice {
        font-size: 14px;
    }
    #lp .voice .text-s {
        font-size: 12px;
    }
    #lp .voice .dd-voice {
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
    }
    #lp .voice .item-voice {
        margin-bottom: 35px;
    }
    /*about /
    /*============================================*/
    #lp .about {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }
    #lp .about .left, #lp .about .right {
        width: 100%;
    }

    #lp .about .left {
        text-align: center;
        border-bottom: 1.5px solid #cccccc;
        padding-bottom: 5px;
        margin-bottom: 5px;
        padding-left: 0px;
    }
    #lp .about .right {
        font-size: 14px;
        padding-left: 0px;
    }

    #lp .map {
        padding-left: 10px;
        padding-right: 10px;
        background: #000000;

    }
    /*entry /
    /*============================================*/

    #lp .entry {
        padding: 45px 0px 60px;
        background: #000000;
        color: white;
    }
    #lp .entry .box-entry {

        padding: 0px 10px;
    }
    #lp .entry .box-entry .box-form {
    
        padding: 45px 10px 20px 10px;
 
        margin-bottom: 60px;
    }
    #lp .entry .info-item .form-left, #lp .entry .info-item .form-right {
        width: 100%
       
    }
    #lp .entry .box-entry .box-form::after {
        display: none;
    }
    #lp .entry .info-item .form-left {
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    #lp .entry .info-item .form-right {
        padding-left: 0px;
       
    }
    #lp .entry .info-item:nth-child(4) {
        margin-bottom: 25px;
    }
    #lp .entry .info-item .form-right .checkbox_field_text {
        width: 100%;
    }
    #lp .entry .info-item:nth-child(5) {
        margin-bottom: 20px;
    }

    #backTop {
        right: 2%;
        top: 90%;
    }
    #lp .entry .form-right .tarea-jeo {
        height: 330px;
    }
}


